<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Please wait...</title>
    <!-- Bootstrap Css -->
    <link
      href="/assets/users//css/bootstrap-dark.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons Css -->
    <link
      href="/assets/users/css/icons.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- App Css-->
    <link
      href="/assets/users/css/app-dark.min.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/users/css/sweetalert2.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/assets/css/toastr.min.css" />

    <style>
      .loader-box {
        display: grid;
        height: 100vh;
        width: 100%;
        place-items: center;
      }
    </style>
  </head>
  <body>
    {% if messages %} {% for msg in messages %}
    <div style="display: none" class="messages" data-msg="{{ msg }}"></div>
    {% endfor %} {% endif %}

    <div class="loader-box">
      <div class="text-center">
        <i class="fas fa-spinner fa-spin fa-3x"></i>
        <h2 id="title">Please Wait..</h2>
      </div>
    </div>

    <script src="/assets/users/js/jquery.min.js"></script>
    <script src="/assets/users/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/toastr.min.js"></script>
    {% if messages %}
    <script src="/assets/js/toastr-init.js"></script>
    {% endif %}
    <script src="/assets/js/circle-progress.min.js"></script>
    <script src="/assets/js/circle-progress-init.js"></script>
    <!-- Sweet Alerts js -->
    <script src="/assets/users/js/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="/assets/users/js/sweet-alerts.init.js"></script>

    <script>
      $(document).ready(function () {
        title = document.getElementById("title");
        setTimeout(() => {
          title.innerText = "Redirecting..";
          window.location.href = "http://localhost:5173/register/";
        }, 3000);
      });
    </script>
  </body>
</html>
