{% extends "layouts/home.html" %} {% block content %}

<div class="about-page-bg">
  <section class="about-comp">
    <img
      class="about-comp__decor about-comp__decor--1"
      src="/assets/base/neurobit/comp-dec-min.png"
      data-skarallax="1000"
      alt=""
      style="transform: translate3d(0px, 905.455px, 0px)"
    /><img
      class="about-comp__decor about-comp__decor--2"
      src="/assets/base/neurobit/1-min.png"
      data-skarallax="800"
      alt=""
      style="transform: matrix(1, 0, 0, 1, 0, 800)"
    />
    <div class="container">
      <div class="about-comp__content">
        <div class="about-comp__left">
          <h2 class="about-comp__title">
            About the Company
            <span class="about-comp__title-neurobit">{{domain_name}}</span>
          </h2>
          <a
            class="about-comp__certif"
            href="/assets/base/i/4.jpg"
            data-fancybox="galley"
          >
            <span class="about-comp__certif-bg"></span>
            <img src="/assets/base/i/4.jpg" alt="" /> </a
          ><a
            class="about-comp__certif"
            href="/assets/base/i/3.jpg"
            data-fancybox="galley"
          >
            <span class="about-comp__certif-bg"></span>
            <img src="/assets/base/i/3.jpg" alt="" /> </a
          ><a
            class="about-comp__certif"
            href="/assets/base/i/2.jpg"
            data-fancybox="galley"
          >
            <span class="about-comp__certif-bg"></span>
            <img src="/assets/base/i/2.jpg" alt="" />
          </a>
        </div>
        <div class="about-comp__right">
          <p class="about-comp__intro">
            {{domain_name}} is a global crypto trading and mining company they
            have some groups of experts that specialize in cloud mining . They
            help their investors in trading and handling their cryptocurrency
            investments.
          </p>
          <div class="abs-subtitle-wrap" data-skarallax-horizontal1="100">
            <span class="abs-subtitle"
              ><div style="position: relative; display: inline-block">
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  F
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  2
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  T
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  r
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  a
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  d
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  i
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  n
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  g
                </div>
              </div></span
            >
          </div>
          <div class="about-comp__img">
            <img src="/assets/base/neurobit/woeker-min.jpg" alt="" />
          </div>
          <p>
            {{domain_name}} investing platform is a smart and convenient way to
            get exposure to digital money. For beginning, you do not need to
            have knowledge about digital money or cryptocurrencies.
          </p>
          <br />
          <p>
            {{domain_name}} cryptocurrency trading has become even more
            convenient. Our IT specialists have developed a comfortable account
            control panel that is understandable even for new users. Manage your
            account, make deposits and withdraw profits.
          </p>
          <br />
          <p>
            {{domain_name}} provides the springboard to my invest in the new era
            of digital finance through an operational instant investing platform
            with seamless user experience.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="official about-section">
    <img
      class="official__decor official__decor--1"
      src="/assets/base/neurobit/1-min(1).png"
      alt=""
      data-skarallax="200"
      style="transform: matrix(1, 0, 0, 1, 0, 200)"
    /><img
      class="official__decor official__decor--2"
      src="/assets/base/neurobit/2-min.png"
      alt=""
      data-skarallax="80"
      style="transform: translate3d(0px, 76.0382px, 0px)"
    /><img
      class="official__decor official__decor--3"
      src="/assets/base/neurobit/3-min.png"
      alt=""
      data-skarallax="50"
      style="transform: translate3d(0px, 48.5519px, 0px)"
    /><img
      class="official__decor official__decor--4"
      src="/assets/base/neurobit/4-min.png"
      alt=""
      data-skarallax="150"
      style="transform: translate3d(0px, 97.0224px, 0px)"
    /><img
      class="official__decor official__decor--5"
      src="/assets/base/neurobit/5-min.png"
      alt=""
      data-skarallax="70"
      style="transform: translate3d(0px, 32.4562px, 0px)"
    /><img
      class="official__decor official__decor--6"
      src="/assets/base/neurobit/6-min.png"
      alt=""
      data-skarallax="100"
      style="transform: translate3d(0px, 29.8997px, 0px)"
    />
    <div class="container">
      <div class="official__title-wrp">
        <div class="official__title-logo">
          <img src="/assets/base/neurobit/off-logo.svg" alt="" />
        </div>
        <h2 class="official__title about-section__title">
          Officially<br />
          Incorporated Company
        </h2>
      </div>
      <div class="official-content">
        <div class="official-content__item official-content__left">
          <div class="official-content__left-logo">
            <img src="/assets/base/neurobit/off-logo.svg" alt="" />
          </div>
          <div class="official-content__left-txt">
            <p>
              {{domain_name}} is one of the leading hashpower providers in the
              world, offering cryptocurrency mining capacities in every range -
              for newcomers, interested home miners, as well as large scale
              investors. Our mission is to make acquiring cryptocurrencies easy
              and fast for everyone.
            </p>
            <div class="official-content__left-btns">
              <a class="btn" href="/videos/">
                <span class="btn__inner">Videos</span></a
              >
              <a class="btn btn--tr btn--file" href="/galley/">
                <svg
                  width="21"
                  height="20"
                  viewBox="0 0 21 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.26421 18.125V1.87501C1.26421 1.52981 1.5472 1.25001 1.89632 1.25001H11.3779V3.75001C11.3779 4.44036 11.9439 5.00001 12.6421 5.00001H15.1706V9H16.4348V4.37501C16.4358 4.20887 16.3698 4.04919 16.2515 3.93126L12.4588 0.18126C12.3396 0.0642677 12.178 -0.000927527 12.01 9.97262e-06H1.89632C0.848998 9.97262e-06 0 0.839502 0 1.87501V18.125C0 19.1605 0.848998 20 1.89632 20H6.32107V18.75H1.89632C1.54724 18.75 1.26421 18.4702 1.26421 18.125Z"
                    fill="white"
                  ></path>
                  <path
                    d="M11.9813 19.809C12.0494 19.8695 12.1303 19.9176 12.2193 19.9504C12.3083 19.9831 12.4037 20 12.5 20C12.5963 20 12.6917 19.9831 12.7807 19.9504C12.8697 19.9176 12.9506 19.8695 13.0187 19.809L15.7851 17.3495C15.9227 17.2272 16 17.0613 16 16.8883C16 16.7154 15.9227 16.5495 15.7851 16.4272C15.6476 16.3049 15.461 16.2362 15.2664 16.2362C15.0719 16.2362 14.8853 16.3049 14.7477 16.4272L13.2336 17.7733V11.6521C13.2336 11.4791 13.1563 11.3132 13.0187 11.1909C12.8811 11.0686 12.6946 10.9999 12.5 10.9999C12.3054 10.9999 12.1189 11.0686 11.9813 11.1909C11.8437 11.3132 11.7664 11.4791 11.7664 11.6521V17.7733L10.2523 16.4272C10.1147 16.3049 9.92811 16.2362 9.73356 16.2362C9.53901 16.2362 9.35242 16.3049 9.21485 16.4272C9.07729 16.5495 9 16.7154 9 16.8883C9 17.0613 9.07729 17.2272 9.21485 17.3495L11.9813 19.809Z"
                    fill="white"
                  ></path>
                </svg>
                <span class="btn__inner">Galley</span>
              </a>
            </div>
          </div>
        </div>
        <div class="official-content__item official-content__right">
          <p>
            Airtradecapital , is an officially registered company which provides
            its clients with substantial guarantees, including confidentiality
            of inputs provided by clients at the registration and internal
            Database.
          </p>
          <br />

          <p>
            Contact With Us<br />
            ADDRESS:<br />
            120 Baker Street, London, England, W1U 6TU
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-earn about-section">
    <div class="container">
      <h2 class="about-earn__title about-section__title">
        How we<br />
        earn?
      </h2>
      <div class="about-earn-list">
        <div class="about-earn-list__item">
          <div class="about-earn-list__item-img">
            <span class="earn-list__item-elipse1"></span
            ><span class="earn-list__item-elipse2"></span
            ><span class="earn-list__item-elipse3"></span
            ><img
              src="/assets/base/neurobit/1-min(2).png"
              width="62"
              height="70"
              alt=""
            />
          </div>
          <p class="about-earn-list__item-title">Crypto-currency trading</p>
        </div>
        <div class="about-earn-list__item">
          <div class="about-earn-list__item-img">
            <span class="earn-list__item-elipse1"></span
            ><span class="earn-list__item-elipse2"></span
            ><span class="earn-list__item-elipse3"></span
            ><img
              src="/assets/base/neurobit/2-min(1).png"
              width="36"
              height="76"
              alt=""
            />
          </div>
          <p class="about-earn-list__item-title">
            Investing<br />
            in disruptive technologies
          </p>
        </div>
        <div class="about-earn-list__item">
          <div class="about-earn-list__item-img">
            <span class="earn-list__item-elipse1"></span
            ><span class="earn-list__item-elipse2"></span
            ><span class="earn-list__item-elipse3"></span
            ><img
              src="/assets/base/neurobit/3-min(1).png"
              width="47"
              height="61"
              alt=""
            />
          </div>
          <p class="about-earn-list__item-title">Forex trading</p>
        </div>
        <div class="about-earn-list__item">
          <div class="about-earn-list__item-img">
            <span class="earn-list__item-elipse1"></span
            ><span class="earn-list__item-elipse2"></span
            ><span class="earn-list__item-elipse3"></span
            ><img
              src="/assets/base/neurobit/4-min(1).png"
              width="45"
              height="65"
              alt=""
            />
          </div>
          <p class="about-earn-list__item-title">
            Venture investing<br />
            in start-ups
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-tech about-section">
    <img
      class="about-tech__decor"
      src="/assets/base/neurobit/rocket-min.png"
      data-skarallax="200"
      alt=""
    /><img
      class="about-tech__meteor about-tech__meteor--1"
      src="/assets/base/neurobit/meteor-left-min.png"
      alt=""
      style="transform: matrix(1, 0, 0, 1, 100, -130)"
    /><img
      class="about-tech__meteor about-tech__meteor--2"
      src="/assets/base/neurobit/meteor-right-min.png"
      alt=""
      style="transform: matrix(1, 0, 0, 1, 40, -50)"
    />
    <div class="container">
      <h2 class="about-section__title about-tech__title">
        What technology are we investing in?
      </h2>
      <div class="about-tech-list">
        <div class="about-tech-list__item about-tech-list__item--1">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/bitcoin.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">
            Blockchain and<br />
            cryptocurrency
          </div>
        </div>
        <div class="about-tech-list__item about-tech-list__item--2">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/gines.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">
            Genome<br />
            engineering
          </div>
        </div>
        <div class="about-tech-list__item about-tech-list__item--3">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/brain.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">
            Artificial<br />
            intelligence
          </div>
        </div>
        <div class="about-tech-list__item about-tech-list__item--4">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/cosmos.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">Space exploration</div>
        </div>
        <div class="about-tech-list__item about-tech-list__item--5">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/robots.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">
            Autonomous technology<br />
            and robotics
          </div>
        </div>
        <div class="about-tech-list__item about-tech-list__item--6">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/quant.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">
            Quantum<br />
            computing
          </div>
        </div>
        <div class="about-tech-list__item about-tech-list__item--7">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/vr.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">
            Virtual reality<br />(VR and AR)
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-security">
    <img
      class="about-security__decor about-security__decor--1"
      src="/assets/base/neurobit/1-min(3).png"
      alt=""
    /><img
      class="about-security__decor about-security__decor--2"
      src="/assets/base/neurobit/2-min(2).png"
      alt=""
    />
    <div class="container">
      <div class="about-security__content">
        <div class="about-security__img">
          <img
            class="about-security__img-svg"
            src="/assets/base/neurobit/sphere.svg"
            alt=""
          /><img
            class="about-security__img-img"
            src="/assets/base/neurobit/lock 2-min.png"
            alt=""
          />
        </div>
        <div class="about-security__info">
          <div class="about-security__info-title">
            <h2 class="about-security__title">100%</h2>
            <div class="about-security__info-subtitle">
              <p>Protection</p>
              <span>and security.</span>
            </div>
          </div>
          <div class="about-security__info-txt">
            <p>
              Any user data transmitted through our website is protected by
              secure encryption, as evidenced by the EV SSL certificate.
            </p>
            <p>
              The {{domain_name}} platform runs on dedicated servers with the
              latest hacker and malware protection software.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "components/home-footer.html" %}
</div>

{% endblock content %}
