{% extends "layouts/home.html" %} {% block content %}

<div class="faq-page-bg">
  <section class="faq vert-section">
    <img
      class="faq__decor faq__decor--1"
      src="./Neurobit - Invest in the future today!_files/faq-dec-left-min.png"
      alt=""
    /><img
      class="faq__decor faq__decor--2"
      src="./Neurobit - Invest in the future today!_files/faq-dec-right-min.png"
      alt=""
    />
    <div class="container">
      <div class="title-block">
        <div class="title-block__title">
          <h1>FAQ</h1>
          <div class="abs-subtitle-wrap">
            <span class="abs-subtitle"
              ><div style="position: relative; display: inline-block">
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  a
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  l
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  l
                </div>
              </div>
              <div style="position: relative; display: inline-block">
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  n
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  e
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  c
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  e
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  s
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  s
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  a
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  r
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  y
                </div>
              </div>
              <div style="position: relative; display: inline-block">
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  i
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  n
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  f
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  o
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  r
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  m
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  a
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  t
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  i
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  o
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    backface-visibility: visible;
                    z-index: 0;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  n
                </div>
              </div></span
            >
          </div>
        </div>
      </div>
      <div class="faq-content">
        <div class="faq-content__col">
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>What is {{domain_name}}?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop" style="display: none">
              <p>
                A high-tech company that invests in innovation and has in-house
                developed algorithms based on artificial intelligence, fast
                quantum computing, with which we are always one step ahead in
                trading. We think innovation changes lives and businesses
                dramatically, worldwide, which is why {{domain_name}} invests in
                breakthrough technologies at all stages of growth. Every day,
                our analysts strive to identify companies that are leading the
                way in innovations such as artificial intelligence, robotics,
                blockchain, quantum computing, and other areas.
              </p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>Are your activities legal?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                {{domain_name}} is officially registered in the UK under the
                name: {{domain_name}} LIMITED. address 120 Baker Street, London,
                England, W1U 6TU. Company number ;15314494. You can check the
                information provided at the
                <a
                  target="_blank"
                  href="https://find-and-update.company-information.service.gov.uk/company/15314494"
                  >"Companies House Register"</a
                >
              </p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>How long does it take to withdraw funds?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                Withdrawal takes from 2 to 10 minutes to transfer withdrawal to
                the provided E-currency wallet address
              </p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>How long will I get profit from my deposit?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                Once you create a deposit, you will take profit every day until
                your earnings exceed 250%. For example, if you deposited 1000
                USD and after you earned 2500 USD, your deposit automatically
                stops working.
              </p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>How do I change my account details?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                Go to your personal account, go to profile settings, and change
                your details
              </p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>How to invite new members to the project?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                Go to your personal account, copy your personal referral link,
                and send it to your affiliates
              </p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>How do I change my account details?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                Go to your personal account, go to profile settings, and change
                your details
              </p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>How much will I earn if I invite affiliates to invest?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                1st level - you will get 7% of the deposit <br />
                2nd level - you will get 5% of the deposit <br />
                3rd level - you will get 3% of the deposit <br />
                4th level - you will get 2% of the deposit <br />
                5th level - you will get 1% of the deposit
              </p>
            </div>
          </div>
        </div>
        <div class="faq-content__col">
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>How does the platform earn money?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                1. Trading in the cryptocurrency market<br />
                2. Investing in breakthrough technologies<br />
                3. Forex trading<br />
                4. Venture investing in start-ups
              </p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>How and how much can I earn?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>You can earn from 1% to 2% per day</p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>How often will I make profit?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>Profits are credited daily to your personal account</p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>When can I withdraw my profits?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                You can withdraw profits every day at any time you like. Once
                you have earned profit, you can withdraw it or reinvest it in
                your account. Minimum withdrawal amount – 10 USD<br />Daily
                withdrawal limit is 5 000 USD.<br />Withdrawal is possible every
                day. <br />Commission for deposit is 2%. <br />Commission for
                withdrawal is 5%.
              </p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>Do you keep your members’ personal data safe?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                We use up-to-date software for protection against all levels of
                DDoS attacks. Modern encryption protocols keep your information
                secure.
              </p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>Can I create multiple accounts?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                It is forbidden to have more than one account. But you can have
                as many deposits as you want into one account. The number of
                deposits is not limited.
              </p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>I want to reinvest my earnings, is it possible?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                Yes, of course, if you are a real investor, you should always
                reinvest your earnings
              </p>
            </div>
          </div>
          <div class="faq-content__item">
            <div class="faq-content__item-header">
              <p>Do I have to make a deposit to invite new members?</p>
              <div class="faq-content__item-plus"></div>
            </div>
            <div class="faq-content__item-drop">
              <p>
                Yes, of course, to promote our company you must understand how
                things work, so you must have a minimum deposit of 100 USD
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "components/home-footer.html" %}
</div>

{% endblock content %}
