{% extends "layouts/home.html" %} {% block content %}
<div class="about-page-bg">
  <section class="about-comp">
    <img
      class="about-comp__decor about-comp__decor--1"
      src="/assets/base/neurobit/comp-dec-min.png"
      data-skarallax="1000"
      alt=""
      style="transform: translate3d(0px, 315.42px, 0px)"
    /><img
      class="about-comp__decor about-comp__decor--2"
      src="/assets/base/neurobit/1-min.png"
      data-skarallax="800"
      alt=""
      style="transform: translate3d(0px, 443.972px, 0px)"
    />
    <div class="container">
      <div class="about-comp__content">
        <div class="about-comp__left">
          <h2 class="about-comp__title">
            {{domain_name}}<span class="about-comp__title-neurobit"
              >{{domain_name}}</span
            >
          </h2>
          <p>
            We think that innovations fundamentally change lives and businesses,
            all over the world, which is why {{domain_name}} invests in
            breakthrough technologies at all growth stages. Every day, our
            analysts strive to identify companies that are leading the way in
            innovations such as artificial intelligence, robotics, blockchain,
            quantum computing, and other areas.
          </p>
        </div>
        <div class="about-comp__right">
          <br /><br />
          <iframe
            width="100%"
            height="350"
            src="https://www.youtube.com/embed/EZW_LIJqY6U"
          >
          </iframe>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="about-comp__content">
      <div class="about-comp__left">
        <h2 class="about-comp__title">
          About the Company
          <span class="about-comp__title-neurobit">{{domain_name}}</span>
        </h2>
        <a class="about-comp__certif" href="i/4.jpg" data-fancybox="galley">
          <span class="about-comp__certif-bg"></span>
          <img src="/assets/base/i/4.jpg" alt=""
        /></a>
        <a class="about-comp__certif" href="i/3.jpg" data-fancybox="galley">
          <span class="about-comp__certif-bg"></span>
          <img src="/assets/base/i/3.jpg" alt=""
        /></a>
        <a class="about-comp__certif" href="i/2.jpg" data-fancybox="galley">
          <span class="about-comp__certif-bg"></span>
          <img src="/assets/base/i/2.jpg" alt=""
        /></a>
      </div>
      <div class="about-comp__right">
        <p class="about-comp__intro">
          We are {{domain_name}}, a high-tech company that invests in innovation
          and has in-house development of algorithms based on artificial
          intelligence, fast quantum computing, using which we are always one
          step ahead in trading.
        </p>

        <div class="about-comp__img">
          <img src="/assets/base/neurobit/woeker-min.jpg" alt="" />
        </div>
        <p>
          We think that innovations fundamentally change lives and businesses,
          all over the world, which is why {{domain_name}} invests in
          breakthrough technologies at all growth stages. Every day, our
          analysts strive to identify companies that are leading the way in
          innovations such as artificial intelligence, robotics, blockchain,
          quantum computing, and other areas.
        </p>
      </div>
    </div>
  </div>

  <section class="earn-here page-section page-section-4" id="earn-here-section">
    <div class="container">
      <div class="title-block">
        <div class="title-block__title">
          <h2 class="earn-here__title">How to make money here</h2>
          <div class="abs-subtitle-wrap" data-skarallax-horizontal="100">
            <span class="abs-subtitle js_splitTextHoriz"
              >Useful investment plans</span
            >
          </div>
        </div>
      </div>
      <div
        class="plans swiper-container swiper-container-initialized swiper-container-horizontal"
        data-skarallax-back2="350"
      >
        <a class="btn btn--grad" href="/loginre">
          <span class="btn--grad__grad-shadow"></span>
          <span class="btn--grad__grad-overlay"></span>
          <span class="btn--grad__grad-overlay2"></span>
          <span class="btn--grad__grad-overlay3"></span>
          <span class="btn__inner btn__inner--active">Invest</span>
          <span class="btn__inner btn__inner--soon">Coming soon</span>
        </a>
        <div class="sl-nav">
          <div
            class="sl-nav__btn sl-nav__btn--prev"
            tabindex="0"
            role="button"
            aria-label="Previous slide"
            aria-controls="swiper-wrapper-5d1372a5562a3c82"
          >
            <img
              class="sl-nav__arrow"
              src="/assets/base/neurobit/long-arrow.html"
              alt=""
            /><img
              class="sl-nav__elipse"
              src="/assets/base/neurobit/ellipse.html"
              alt=""
            />
          </div>
          <div
            class="sl-nav__btn sl-nav__btn--next"
            tabindex="0"
            role="button"
            aria-label="Next slide"
            aria-controls="swiper-wrapper-5d1372a5562a3c82"
          >
            <img
              class="sl-nav__arrow"
              src="/assets/base/neurobit/long-arrow.html"
              alt=""
            /><img
              class="sl-nav__elipse"
              src="/assets/base/neurobit/ellipse.html"
              alt=""
            />
          </div>
        </div>
        <div
          class="swiper-wrapper"
          id="swiper-wrapper-5d1372a5562a3c82"
          aria-live="polite"
          style="
            transition-duration: 0ms;
            transform: translate3d(-2111.5px, 0px, 0px);
          "
        >
          <div
            class="plans__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
            data-swiper-slide-index="0"
            role="group"
            aria-label="1 / 24"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">GOLD</p>
            <p class="plans__item-amount">1,000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$1,000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$5,999</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>5%</p>
                <span> hourly</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 24 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
            data-swiper-slide-index="1"
            role="group"
            aria-label="2 / 24"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">EMERALD</p>
            <p class="plans__item-amount">6,000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$6,000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$11,000</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>5.21%</p>
                <span> Hourly</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 24 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
            data-swiper-slide-index="2"
            role="group"
            aria-label="3 / 24"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">RUBY</p>
            <p class="plans__item-amount">11,050</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$11,050</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$49,000</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>2.6%</p>
                <span> Hourly</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 48 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-prev"
            data-swiper-slide-index="0"
            role="group"
            aria-label="1 / 24"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">GOLD</p>
            <p class="plans__item-amount">1,000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$1,00</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$5999</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>5%</p>
                <span> Hourly</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 24 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-active"
            data-swiper-slide-index="1"
            role="group"
            aria-label="2 / 24"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">EMERALD</p>
            <p class="plans__item-amount">6,000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$6,000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$11,000</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>5.21%</p>
                <span> Hourly</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 24 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-next"
            data-swiper-slide-index="2"
            role="group"
            aria-label="3 / 24"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">RUBY</p>
            <p class="plans__item-amount">11,050</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$11,050</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$49,000</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>2.6%</p>
                <span> Hourly</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 48 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-next"
            data-swiper-slide-index="0"
            role="group"
            aria-label="9 / 24"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">SHAREHOLDER</p>
            <p class="plans__item-amount">50,000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$50,000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$300,000</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>0.77%</p>
                <span>Hourly</span>
              </div>
            </div>

            <div class="plans__item-text">
              <span>Duration</span> 168 Hours(7 days)
            </div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>

          <span
            class="swiper-notification"
            aria-live="assertive"
            aria-atomic="true"
          ></span>
        </div>
      </div>
    </div>
  </section>
  <section class="official about-section">
    <img
      class="official__decor official__decor--1"
      src="/assets/base/neurobit/1-min(1).png"
      alt=""
      data-skarallax="200"
    /><img
      class="official__decor official__decor--2"
      src="/assets/base/neurobit/2-min.png"
      alt=""
      data-skarallax="80"
    /><img
      class="official__decor official__decor--3"
      src="/assets/base/neurobit/3-min.png"
      alt=""
      data-skarallax="50"
    /><img
      class="official__decor official__decor--4"
      src="/assets/base/neurobit/4-min.png"
      alt=""
      data-skarallax="150"
    /><img
      class="official__decor official__decor--5"
      src="/assets/base/neurobit/5-min.png"
      alt=""
      data-skarallax="70"
    /><img
      class="official__decor official__decor--6"
      src="/assets/base/neurobit/6-min.png"
      alt=""
      data-skarallax="100"
    />
    <div class="container">
      <div class="official__title-wrp">
        <div class="official__title-logo">
          <img src="/assets/base/neurobit/off-logo.svg" alt="" />
        </div>
        <h2 class="official__title about-section__title">
          Officially<br />
          Incorporated Company
        </h2>
      </div>
      <div class="official-content">
        <div class="official-content__item official-content__left">
          <div class="official-content__left-logo">
            <img src="/assets/base/neurobit/off-logo.svg" alt="" />
          </div>
          <div class="official-content__left-txt">
            <p>
              We are an intelligent platform and we have a robot able to make
              thousands of daily operations with Bitcoin and Ethereum, our
              Exchange has a database with more than 1,500,000 users.
            </p>
            <div class="official-content__left-btns">
              <a class="btn" href="#">
                <span class="btn__inner">Videos</span></a
              >
              <a class="btn btn--tr btn--file" href="#">
                <svg
                  width="21"
                  height="20"
                  viewBox="0 0 21 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.26421 18.125V1.87501C1.26421 1.52981 1.5472 1.25001 1.89632 1.25001H11.3779V3.75001C11.3779 4.44036 11.9439 5.00001 12.6421 5.00001H15.1706V9H16.4348V4.37501C16.4358 4.20887 16.3698 4.04919 16.2515 3.93126L12.4588 0.18126C12.3396 0.0642677 12.178 -0.000927527 12.01 9.97262e-06H1.89632C0.848998 9.97262e-06 0 0.839502 0 1.87501V18.125C0 19.1605 0.848998 20 1.89632 20H6.32107V18.75H1.89632C1.54724 18.75 1.26421 18.4702 1.26421 18.125Z"
                    fill="white"
                  ></path>
                  <path
                    d="M11.9813 19.809C12.0494 19.8695 12.1303 19.9176 12.2193 19.9504C12.3083 19.9831 12.4037 20 12.5 20C12.5963 20 12.6917 19.9831 12.7807 19.9504C12.8697 19.9176 12.9506 19.8695 13.0187 19.809L15.7851 17.3495C15.9227 17.2272 16 17.0613 16 16.8883C16 16.7154 15.9227 16.5495 15.7851 16.4272C15.6476 16.3049 15.461 16.2362 15.2664 16.2362C15.0719 16.2362 14.8853 16.3049 14.7477 16.4272L13.2336 17.7733V11.6521C13.2336 11.4791 13.1563 11.3132 13.0187 11.1909C12.8811 11.0686 12.6946 10.9999 12.5 10.9999C12.3054 10.9999 12.1189 11.0686 11.9813 11.1909C11.8437 11.3132 11.7664 11.4791 11.7664 11.6521V17.7733L10.2523 16.4272C10.1147 16.3049 9.92811 16.2362 9.73356 16.2362C9.53901 16.2362 9.35242 16.3049 9.21485 16.4272C9.07729 16.5495 9 16.7154 9 16.8883C9 17.0613 9.07729 17.2272 9.21485 17.3495L11.9813 19.809Z"
                    fill="white"
                  ></path>
                </svg>
                <span class="btn__inner">Galley</span>
              </a>
            </div>
          </div>
        </div>
        <div class="official-content__item official-content__right">
          <p>
            Being a financial organization, we perfectly understand that
            transactions with money require transparent and trustworthy
            relationships. That is why we are always ready to provide our
            partners with any information they are interested in. We do business
            openly and our activities are fully legal.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-earn about-section">
    <div class="container">
      <h2 class="about-earn__title about-section__title">
        How we<br />
        earn?
      </h2>
      <div class="about-earn-list">
        <div class="about-earn-list__item">
          <div class="about-earn-list__item-img">
            <span class="earn-list__item-elipse1"></span
            ><span class="earn-list__item-elipse2"></span
            ><span class="earn-list__item-elipse3"></span
            ><img
              src="/assets/base/neurobit/1-min(2).png"
              width="62"
              height="70"
              alt=""
            />
          </div>
          <p class="about-earn-list__item-title">Crypto-currency trading</p>
        </div>
        <div class="about-earn-list__item">
          <div class="about-earn-list__item-img">
            <span class="earn-list__item-elipse1"></span
            ><span class="earn-list__item-elipse2"></span
            ><span class="earn-list__item-elipse3"></span
            ><img
              src="/assets/base/neurobit/2-min(1).png"
              width="36"
              height="76"
              alt=""
            />
          </div>
          <p class="about-earn-list__item-title">
            Investing<br />
            in disruptive technologies
          </p>
        </div>
        <div class="about-earn-list__item">
          <div class="about-earn-list__item-img">
            <span class="earn-list__item-elipse1"></span
            ><span class="earn-list__item-elipse2"></span
            ><span class="earn-list__item-elipse3"></span
            ><img
              src="/assets/base/neurobit/3-min(1).png"
              width="47"
              height="61"
              alt=""
            />
          </div>
          <p class="about-earn-list__item-title">Forex trading</p>
        </div>
        <div class="about-earn-list__item">
          <div class="about-earn-list__item-img">
            <span class="earn-list__item-elipse1"></span
            ><span class="earn-list__item-elipse2"></span
            ><span class="earn-list__item-elipse3"></span
            ><img
              src="/assets/base/neurobit/3-min(1).png"
              width="47"
              height="61"
              alt=""
            />
          </div>
          <p class="about-earn-list__item-title">Oil and gas</p>
        </div>
        <div class="about-earn-list__item">
          <div class="about-earn-list__item-img">
            <span class="earn-list__item-elipse1"></span
            ><span class="earn-list__item-elipse2"></span
            ><span class="earn-list__item-elipse3"></span
            ><img
              src="/assets/base/neurobit/3-min(1).png"
              width="47"
              height="61"
              alt=""
            />
          </div>
          <p class="about-earn-list__item-title">Gold mining</p>
        </div>
        <div class="about-earn-list__item">
          <div class="about-earn-list__item-img">
            <span class="earn-list__item-elipse1"></span
            ><span class="earn-list__item-elipse2"></span
            ><span class="earn-list__item-elipse3"></span
            ><img
              src="/assets/base/neurobit/3-min(1).png"
              width="47"
              height="61"
              alt=""
            />
          </div>
          <p class="about-earn-list__item-title">Real Estate</p>
        </div>

        <div class="about-earn-list__item">
          <div class="about-earn-list__item-img">
            <span class="earn-list__item-elipse1"></span
            ><span class="earn-list__item-elipse2"></span
            ><span class="earn-list__item-elipse3"></span
            ><img
              src="/assets/base/neurobit/4-min(1).png"
              width="45"
              height="65"
              alt=""
            />
          </div>
          <p class="about-earn-list__item-title">
            Venture investing<br />
            in start-ups
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-tech about-section">
    <img
      class="about-tech__decor"
      src="/assets/base/neurobit/rocket-min.png"
      data-skarallax="200"
      alt=""
    /><img
      class="about-tech__meteor about-tech__meteor--1"
      src="/assets/base/neurobit/meteor-left-min.png"
      alt=""
      style="transform: matrix(1, 0, 0, 1, 100, -130)"
    /><img
      class="about-tech__meteor about-tech__meteor--2"
      src="/assets/base/neurobit/meteor-right-min.png"
      alt=""
      style="transform: matrix(1, 0, 0, 1, 40, -50)"
    />
    <div class="container">
      <h2 class="about-section__title about-tech__title">
        What technology are we investing in?
      </h2>
      <div class="about-tech-list">
        <div class="about-tech-list__item about-tech-list__item--1">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/bitcoin.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">
            Blockchain and<br />
            cryptocurrency
          </div>
        </div>
        <div class="about-tech-list__item about-tech-list__item--2">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/gines.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">
            Genome<br />
            engineering
          </div>
        </div>
        <div class="about-tech-list__item about-tech-list__item--3">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/brain.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">
            Artificial<br />
            intelligence
          </div>
        </div>
        <div class="about-tech-list__item about-tech-list__item--4">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/cosmos.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">Space exploration</div>
        </div>
        <div class="about-tech-list__item about-tech-list__item--5">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/robots.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">
            Autonomous technology<br />
            and robotics
          </div>
        </div>
        <div class="about-tech-list__item about-tech-list__item--6">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/quant.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">
            Quantum<br />
            computing
          </div>
        </div>
        <div class="about-tech-list__item about-tech-list__item--7">
          <div class="about-tech-list__item-img">
            <img src="/assets/base/neurobit/vr.svg" alt="" />
          </div>
          <div class="about-tech-list__item-txt">
            Virtual reality<br />(VR and AR)
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-security">
    <img
      class="about-security__decor about-security__decor--1"
      src="/assets/base/neurobit/1-min(3).png"
      alt=""
    /><img
      class="about-security__decor about-security__decor--2"
      src="/assets/base/neurobit/2-min(2).png"
      alt=""
    />
    <div class="container">
      <div class="about-security__content">
        <div class="about-security__img">
          <img
            class="about-security__img-svg"
            src="/assets/base/neurobit/sphere.svg"
            alt=""
          /><img
            class="about-security__img-img"
            src="/assets/base/neurobit/lock%202-min.png"
            alt=""
          />
        </div>
        <div class="about-security__info">
          <div class="about-security__info-title">
            <h2 class="about-security__title">100%</h2>
            <div class="about-security__info-subtitle">
              <p>Protection</p>
              <span>and security.</span>
            </div>
          </div>
          <div class="about-security__info-txt">
            <p>
              Any user data transmitted through our website is protected by
              secure encryption, as evidenced by the EV SSL certificate.
            </p>
            <p>
              The {{domain_name}} platform runs on dedicated servers with the
              latest hacker and malware protection software.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "components/home-footer.html" %}
</div>
{% endblock content %}
