{% extends "layouts/home.html" %} {% block content %}

<div class="plans-page-bg" style="margin-top: 65px">
  <section class="earn-here page-section page-section-4" id="earn-here-section">
    <div class="container">
      <div class="title-block">
        <div class="title-block__title">
          <h2 class="earn-here__title">How to make money here</h2>
          <div
            class="abs-subtitle-wrap"
            data-skarallax-horizontal="100"
            style="transform: translate3d(38.9208px, 0px, 0px)"
          >
            <span class="abs-subtitle js_splitTextHoriz"
              ><div style="position: relative; display: inline-block">
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  U
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  s
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  e
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  f
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  u
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  l
                </div>
              </div>
              <div style="position: relative; display: inline-block">
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  i
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  n
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  v
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  e
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  s
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  t
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  m
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  e
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  n
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 0.99919;
                    transform: matrix3d(
                      1.00729,
                      0,
                      0,
                      0,
                      0,
                      1.00728,
                      -0.0051253,
                      0,
                      0,
                      0.0050882,
                      0.999987,
                      0,
                      0,
                      0,
                      0,
                      1
                    );
                    transform-origin: -100% 50% 0px;
                  "
                >
                  t
                </div>
              </div>
              <div style="position: relative; display: inline-block">
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 0.995314;
                    transform: matrix3d(
                      1.04218,
                      0,
                      0,
                      0,
                      0,
                      1.04173,
                      -0.0306832,
                      0,
                      0,
                      0.0294414,
                      0.999567,
                      0,
                      0,
                      0,
                      0,
                      1
                    );
                    transform-origin: -100% 50% 0px;
                  "
                >
                  p
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 0.988237;
                    transform: matrix3d(
                      1.10587,
                      0,
                      0,
                      0,
                      0,
                      1.10285,
                      -0.0816594,
                      0,
                      0,
                      0.0738419,
                      0.99727,
                      0,
                      0,
                      0,
                      0,
                      1
                    );
                    transform-origin: -100% 50% 0px;
                  "
                >
                  l
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 0.97796;
                    transform: matrix3d(
                      1.19836,
                      0,
                      0,
                      0,
                      0,
                      1.18688,
                      -0.165417,
                      0,
                      0,
                      0.138037,
                      0.990427,
                      0,
                      0,
                      0,
                      0,
                      1
                    );
                    transform-origin: -100% 50% 0px;
                  "
                >
                  a
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 0.964484;
                    transform: matrix3d(
                      1.31965,
                      0,
                      0,
                      0,
                      0,
                      1.28692,
                      -0.292048,
                      0,
                      0,
                      0.221307,
                      0.975204,
                      0,
                      0,
                      0,
                      0,
                      1
                    );
                    transform-origin: -100% 50% 0px;
                  "
                >
                  n
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 0.947807;
                    transform: matrix3d(
                      1.46974,
                      0,
                      0,
                      0,
                      0,
                      1.39141,
                      -0.473388,
                      0,
                      0,
                      0.322091,
                      0.946709,
                      0,
                      0,
                      0,
                      0,
                      1
                    );
                    transform-origin: -100% 50% 0px;
                  "
                >
                  s
                </div>
              </div></span
            >
          </div>
        </div>
      </div>
      <div
        class="plans swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events"
        data-skarallax-back2="350"
        style="transform: translate3d(26.9948px, 0px, 0px)"
      >
        <a class="btn btn--grad" href="/signup">
          <span class="btn--grad__grad-shadow"></span>
          <span class="btn--grad__grad-overlay"></span>
          <span class="btn--grad__grad-overlay2"></span>
          <span class="btn--grad__grad-overlay3"></span>
          <span class="btn__inner btn__inner--active">Invest</span>
          <span class="btn__inner btn__inner--soon">Coming soon</span>
        </a>
        <div class="sl-nav">
          <div
            class="sl-nav__btn sl-nav__btn--prev"
            tabindex="0"
            role="button"
            aria-label="Previous slide"
            aria-controls="swiper-wrapper-5d1372a5562a3c82"
          >
            <img
              class="sl-nav__arrow"
              src="/Neurobit%20-%20Invest%20in%20the%20future%20today%21_files/long-arrow.html"
              alt=""
            /><img
              class="sl-nav__elipse"
              src="/Neurobit%20-%20Invest%20in%20the%20future%20today%21_files/ellipse.html"
              alt=""
            />
          </div>
          <div
            class="sl-nav__btn sl-nav__btn--next"
            tabindex="0"
            role="button"
            aria-label="Next slide"
            aria-controls="swiper-wrapper-5d1372a5562a3c82"
          >
            <img
              class="sl-nav__arrow"
              src="/Neurobit%20-%20Invest%20in%20the%20future%20today%21_files/long-arrow.html"
              alt=""
            /><img
              class="sl-nav__elipse"
              src="/Neurobit%20-%20Invest%20in%20the%20future%20today%21_files/ellipse.html"
              alt=""
            />
          </div>
        </div>
        <div
          class="swiper-wrapper"
          id="swiper-wrapper-5d1372a5562a3c82"
          aria-live="polite"
          style="
            transition-duration: 0ms;
            transform: translate3d(-1115px, 0px, 0px);
          "
        >
          <div
            class="plans__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
            data-swiper-slide-index="0"
            role="group"
            aria-label="1 / 12"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">Starter</p>
            <p class="plans__item-amount">100</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$100</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$999</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>5%</p>
                <span>24 hours</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 24 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
            data-swiper-slide-index="1"
            role="group"
            aria-label="2 / 12"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">Enterpreneur</p>
            <p class="plans__item-amount">1000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$1000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$4999</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>7.5%</p>
                <span>24 Hours</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 24 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
            data-swiper-slide-index="2"
            role="group"
            aria-label="3 / 12"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">Expert</p>
            <p class="plans__item-amount">5000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$5000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$19999</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>15%</p>
                <span>48 Hours</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 48 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-duplicate"
            data-swiper-slide-index="3"
            role="group"
            aria-label="4 / 12"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">Apex</p>
            <p class="plans__item-amount">20000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$20000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$50000</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>30%</p>
                <span>144 Hours(6 days)</span>
              </div>
            </div>

            <div class="plans__item-text">
              <span>Duration</span> 144 Hours(6 days)
            </div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>

          <div
            class="plans__item swiper-slide swiper-slide-prev"
            data-swiper-slide-index="0"
            role="group"
            aria-label="5 / 12"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">Starter</p>
            <p class="plans__item-amount">100</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$100</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$999</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>5%</p>
                <span>24 hours</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 24 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-active"
            data-swiper-slide-index="1"
            role="group"
            aria-label="6 / 12"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">Enterpreneur</p>
            <p class="plans__item-amount">1000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$1000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$4999</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>7.5%</p>
                <span>24 Hours</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 24 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-next"
            data-swiper-slide-index="2"
            role="group"
            aria-label="7 / 12"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">Expert</p>
            <p class="plans__item-amount">5000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$5000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$19999</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>15%</p>
                <span>48 Hours</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 48 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide"
            data-swiper-slide-index="3"
            role="group"
            aria-label="8 / 12"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">Apex</p>
            <p class="plans__item-amount">20000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$20000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$50000</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>30%</p>
                <span>144 Hours(6 days)</span>
              </div>
            </div>

            <div class="plans__item-text">
              <span>Duration</span> 144 Hours(6 days)
            </div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>

          <span
            class="swiper-notification"
            aria-live="assertive"
            aria-atomic="true"
          ></span>
          <div
            class="plans__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
            data-swiper-slide-index="0"
            role="group"
            aria-label="10 / 12"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">Starter</p>
            <p class="plans__item-amount">100</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$100</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$999</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>5%</p>
                <span>24 hours</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 24 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
            data-swiper-slide-index="1"
            role="group"
            aria-label="11 / 12"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">Enterpreneur</p>
            <p class="plans__item-amount">1000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$1000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$4999</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>7.5%</p>
                <span>24 Hours</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 24 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
            data-swiper-slide-index="2"
            role="group"
            aria-label="12 / 12"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">Expert</p>
            <p class="plans__item-amount">5000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$5000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$19999</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>15%</p>
                <span>48 Hours</span>
              </div>
            </div>

            <div class="plans__item-text"><span>Duration</span> 48 Hours</div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
          <div
            class="plans__item swiper-slide swiper-slide-duplicate"
            data-swiper-slide-index="3"
            role="group"
            aria-label="13 / 12"
          >
            <div class="plans__item-bg"></div>
            <p class="plans__item-plan">Apex</p>
            <p class="plans__item-amount">20000</p>
            <p class="plans__item-currency">USD</p>
            <div class="plans__item-row">
              <div class="plans__item-percent">
                <p>$20000</p>
                <span>Min</span>
              </div>
              <div class="plans__item-percent">
                <p>$50000</p>
                <span>Max</span>
              </div>
              <div class="plans__item-percent">
                <p>30%</p>
                <span>144 Hours(6 days)</span>
              </div>
            </div>

            <div class="plans__item-text">
              <span>Duration</span> 144 Hours(6 days)
            </div>
            <div class="plans__item-text">
              <span>The principal of the deposit</span> is included in the
              profit
            </div>
            <div class="plans__item-text">
              <span>Every day</span> withdrawal of reward
            </div>
          </div>
        </div>
        <span
          class="swiper-notification"
          aria-live="assertive"
          aria-atomic="true"
        ></span>
      </div>
    </div>
  </section>
  <section class="join-us page-section page-section-5">
    <div class="container">
      <div class="title-block">
        <div class="title-block__title">
          <h2 class="join-us__title">Join</h2>
          <div
            class="abs-subtitle-wrap"
            data-skarallax-horizontal="150"
            style="transform: translate3d(62.8814px, 0px, 0px)"
          >
            <span class="abs-subtitle js_splitTextHoriz"
              ><div style="position: relative; display: inline-block">
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  T
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  h
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  e
                </div>
              </div>
              <div style="position: relative; display: inline-block">
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  f
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  u
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  t
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  u
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  r
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  e
                </div>
              </div>
              <div style="position: relative; display: inline-block">
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  i
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  s
                </div>
              </div>
              <div style="position: relative; display: inline-block">
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                  "
                >
                  y
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 0.999369;
                    transform: matrix3d(
                      1.00568,
                      0,
                      0,
                      0,
                      0,
                      1.00567,
                      -0.003989,
                      0,
                      0,
                      0.0039664,
                      0.999992,
                      0,
                      0,
                      0,
                      0,
                      1
                    );
                    transform-origin: -100% 50% 0px;
                  "
                >
                  o
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 0.995759;
                    transform: matrix3d(
                      1.03817,
                      0,
                      0,
                      0,
                      0,
                      1.0378,
                      -0.0276629,
                      0,
                      0,
                      0.0266458,
                      0.999645,
                      0,
                      0,
                      0,
                      0,
                      1
                    );
                    transform-origin: -100% 50% 0px;
                  "
                >
                  u
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 0.988949;
                    transform: matrix3d(
                      1.09946,
                      0,
                      0,
                      0,
                      0,
                      1.09681,
                      -0.0762828,
                      0,
                      0,
                      0.0693819,
                      0.99759,
                      0,
                      0,
                      0,
                      0,
                      1
                    );
                    transform-origin: -100% 50% 0px;
                  "
                >
                  r
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 0.978939;
                    transform: matrix3d(
                      1.18955,
                      0,
                      0,
                      0,
                      0,
                      1.17915,
                      -0.156958,
                      0,
                      0,
                      0.131947,
                      0.991257,
                      0,
                      0,
                      0,
                      0,
                      1
                    );
                    transform-origin: -100% 50% 0px;
                  "
                >
                  s
                </div>
                <div
                  style="
                    position: relative;
                    display: inline-block;
                    visibility: inherit;
                    opacity: 0.965729;
                    transform: matrix3d(
                      1.30844,
                      0,
                      0,
                      0,
                      0,
                      1.27822,
                      -0.27958,
                      0,
                      0,
                      0.213673,
                      0.976905,
                      0,
                      0,
                      0,
                      0,
                      1
                    );
                    transform-origin: -100% 50% 0px;
                  "
                >
                  !
                </div>
              </div></span
            >
          </div>
        </div>
      </div>
      <section class="invest-info">
        <div class="container">
          <div class="invest-info-top">
            <div class="invest-info-top__item-txt">
              <p>
                Investment plans have a fixed price from 100 USD and can be
                activated<br />
                via PerfectMoney, Bitcoin, Ethereum, Litecoin, Bitcoin Cash,
                Dash.
              </p>
              <p>
                Refund of the initial plan cost is included in the remuneration
                paid for the chosen plan. You will receive daily remuneration in
                USD.
              </p>
            </div>
            <div class="invest-info-top__item-img invest-illustration">
              <h4 class="invest-illustration__title">250%</h4>
              <p class="invest-illustration__subtitle">
                Total reward for any investment plan.
              </p>
              <div class="invest-illustration__row">
                <div class="invest-illustration__row-item">
                  <p>The deposit principal</p>
                  <span>is included in the profit</span>
                </div>
                <div class="invest-illustration__row-item">
                  <p>Daily</p>
                  <span>accruals</span>
                </div>
                <div class="invest-illustration__row-item">
                  <p>Everyday</p>
                  <span>rewards withdrawal</span>
                </div>
              </div>
            </div>
          </div>
          <div class="invest-info-bottom">
            <div class="invest-info-bottom__left">
              <p class="invest-info-bottom__title">
                When you reach <span>a result of 250%</span>, the investment
                plan is automatically deactivated.
              </p>
            </div>
            <div class="invest-info-bottom__right">
              <p class="invest-info-bottom__title"></p>
            </div>
          </div>
        </div>
      </section>
      <!-- fo -->
    </div>
  </section>
  {% include "components/home-footer.html" %}
</div>

{% endblock content %}
