<!DOCTYPE html>
<html lang="en" class="js">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Softnio" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{{domain_name}} | {% block title %} {% endblock title %}</title>
    <link rel="shortcut icon" href="/assets/useri/img/favicon.ico" />
    <link rel="stylesheet" href="/assets/useri/css/apps.css?ver=1.0.0" />
    <link rel="stylesheet" href="/assets/useri/css/custom.css" />
    <link rel="stylesheet" href="/assets/css/toastr.min.css" />
    <link
      href="/assets/users/css/sweetalert2.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- System Build v20210628110 @iO -->
    {% block style %} {% endblock style %}
  </head>
  <body class="nk-body npc-cryptlite has-sidebar has-sidebar-fat">
    {% if messages %} {% for msg in messages %}
    <div style="display: none" class="messages" data-msg="{{ msg }}"></div>
    {% endfor %} {% endif %}
    <div class="nk-app-root">
      <div class="nk-main">
        <div
          class="nk-sidebar nk-sidebar-fat nk-sidebar-fixed is-dark"
          data-content="sidebarMenu"
        >
          <div class="nk-sidebar-element nk-sidebar-head">
            <div class="nk-sidebar-brand">
              <a
                class="logo-link nk-sidebar-logo"
                href="https://fintcapitallimited.com/user/public/dashboard"
                ><img
                  class="logo-img logo-light logo-img-md"
                  src="/assets/useri/img/logo-light.jpeg"
                  alt="FINTCAPITAL LIMITED" /><img
                  class="logo-img logo-dark logo-img-md"
                  src="/assets/useri/img/logo-dark.jpg"
                  alt="FINTCAPITAL LIMITED"
              /></a>
            </div>

            <div class="nk-menu-trigger mr-n2">
              <a
                href="#"
                class="nk-nav-toggle nk-quick-nav-icon d-xl-none"
                data-target="sidebarMenu"
                ><em class="icon ni ni-arrow-left"></em
              ></a>
            </div>
          </div>

          <div class="nk-sidebar-element">
            <div class="nk-sidebar-body" data-simplebar>
              <div class="nk-sidebar-content">
                <div class="nk-sidebar-widget d-none d-xl-block">
                  <div class="user-account-info between-center">
                    <div class="user-account-main">
                      <h6 class="overline-title-alt">Main Account Balance</h6>
                      <div class="user-balance">
                        {{user.balance}}<small class="currency">USD</small>
                      </div>
                      <div class="user-balance-alt">
                        <!-- 0.00 <span class="currency">GBP</span> -->
                      </div>
                    </div>
                  </div>
                  <ul class="user-account-data gy-1">
                    <li>
                      <div class="user-account-label">
                        <span class="sub-text">withdrawal</span>
                      </div>
                      <div class="user-account-value">
                        <span class="lead-text">
                          {{user.total_withdraw}}
                          <span class="currency">USD</span></span
                        >
                      </div>
                    </li>
                    <li>
                      <div class="user-account-label">
                        <span class="sub-text"
                          >Referral({{user.referral}})</span
                        >
                      </div>
                      <div class="user-account-value">
                        <span class="sub-text"
                          >{{user.referral}}
                          <span class="currency">USD</span></span
                        >
                      </div>
                    </li>
                  </ul>
                  <div class="user-account-actions">
                    <ul class="g-3">
                      <li>
                        <a href="/deposit-funds/" class="btn btn-primary"
                          ><span>Deposit</span></a
                        >
                      </li>
                      <li>
                        <a href="/withdraw-funds/" class="btn btn-warning"
                          ><span>Withdraw</span></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>

                <div
                  class="nk-sidebar-widget nk-sidebar-widget-full d-xl-none pt-0"
                >
                  <a
                    class="nk-profile-toggle toggle-expand"
                    data-target="sidebarProfile"
                    href="#"
                  >
                    <div class="user-card-wrap">
                      <div class="user-card">
                        <div class="user-avatar">
                          <span
                            ><div class="user-avatar bg-danger">
                              <span>VA</span>
                            </div></span
                          >
                        </div>
                        <div class="user-info">
                          <span class="lead-text">{{user.fullname}}</span>
                          <span class="sub-text">{{user.email}}</span>
                        </div>
                        <div class="user-action">
                          <em class="icon ni ni-chevron-down"></em>
                        </div>
                      </div>
                    </div>
                  </a>
                  <div
                    class="nk-profile-content toggle-expand-content"
                    data-content="sidebarProfile"
                  >
                    <div class="user-account-info between-center">
                      <div class="user-account-main">
                        <h6 class="overline-title-alt">Main Account Balance</h6>
                        <div class="user-balance">
                          {{user.balance}} <small class="currency">USD</small>
                        </div>
                        <div class="user-balance-alt">
                          <!-- 0.00 <span class="currency">GBP</span> -->
                        </div>
                      </div>
                    </div>
                    <ul class="user-account-data">
                      <li>
                        <div class="user-account-label">
                          <span class="sub-text">withdrawal</span>
                        </div>
                        <div class="user-account-value">
                          <div class="user-account-value">
                            <span class="lead-text">
                              {{user.total_withdraw}}
                              <span class="currency">USD</span></span
                            >
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="user-account-label">
                          <span class="sub-text"
                            >Referral({{user.referral}})</span
                          >
                        </div>
                        <div class="user-account-value">
                          <span class="sub-text text-base"
                            >{{user.referral_bonus}}
                            <span class="currency">USD</span></span
                          >
                        </div>
                      </li>
                    </ul>
                    <ul class="user-account-links">
                      <li>
                        <a href="/withdraw-funds/" class="link"
                          ><span>Withdraw Funds</span>
                          <em class="icon ni ni-wallet-out"></em
                        ></a>
                      </li>
                      <li>
                        <a href="/deposit-funds/" class="link"
                          ><span>Deposit Funds</span>
                          <em class="icon ni ni-wallet-in"></em
                        ></a>
                      </li>
                    </ul>
                    <ul class="link-list">
                      <li>
                        <a href="/settings/profile/"
                          ><em class="icon ni ni-user-alt"></em
                          ><span>View Profile</span></a
                        >
                      </li>
                      <li>
                        <a href="/settings/account/"
                          ><em class="icon ni ni-setting-alt"></em
                          ><span>Account Setting</span></a
                        >
                      </li>
                      <li>
                        <a href="/setting/activity"
                          ><em class="icon ni ni-activity-alt"></em
                          ><span>Login Activity</span></a
                        >
                      </li>
                    </ul>
                    <ul class="link-list">
                      <li>
                        <a href="/sign-out/"
                          ><em class="icon ni ni-signout"></em
                          ><span>Sign out</span></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="nk-sidebar-menu">
                  <ul class="nk-menu">
                    <li class="nk-menu-heading">
                      <h6 class="overline-title">Menu</h6>
                    </li>
                    <li class="nk-menu-item active">
                      <a href="/dashboard/" class="nk-menu-link">
                        <span class="nk-menu-icon"
                          ><em class="icon ni ni-dashboard"></em
                        ></span>
                        <span class="nk-menu-text">Dashboard</span>
                      </a>
                    </li>
                    <li class="nk-menu-item">
                      <a href="/transactions-log/" class="nk-menu-link">
                        <span class="nk-menu-icon"
                          ><em class="icon ni ni-tranx"></em
                        ></span>
                        <span class="nk-menu-text">Transaction</span>
                      </a>
                    </li>
                    <li class="nk-menu-item">
                      <a
                        href="https://fintcapitallimited.com/user/public/investment"
                        class="nk-menu-link"
                      >
                        <span class="nk-menu-icon"
                          ><em class="icon ni ni-invest"></em
                        ></span>
                        <span class="nk-menu-text">Investment</span>
                      </a>
                    </li>
                    <li class="nk-menu-item">
                      <a href="/packages/" class="nk-menu-link">
                        <span class="nk-menu-icon"
                          ><em class="icon ni ni-invest"></em
                        ></span>
                        <span class="nk-menu-text">Our Plans</span>
                      </a>
                    </li>
                    <li class="nk-menu-item">
                      <a href="/settings/profile/" class="nk-menu-link">
                        <span class="nk-menu-icon"
                          ><em class="icon ni ni-account-setting"></em
                        ></span>
                        <span class="nk-menu-text">My Profile</span>
                      </a>
                    </li>

                    <li class="nk-menu-item">
                      <a href="/" class="nk-menu-link">
                        <span class="nk-menu-text">Go to Home</span>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="nk-sidebar-footer">
                  <ul class="nk-menu nk-menu-footer"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="nk-wrap">
          <div class="nk-header nk-header-fluid nk-header-fixed is-light">
            <div class="container-fluid">
              <div class="nk-header-wrap">
                <div class="nk-menu-trigger d-xl-none ml-n1">
                  <a
                    href="#"
                    class="nk-nav-toggle nk-quick-nav-icon"
                    data-target="sidebarMenu"
                    ><em class="icon ni ni-menu"></em
                  ></a>
                </div>

                <div class="nk-header-brand d-xl-none">
                  <a class="logo-link" href="/dashboard/">
                    <img
                      class="logo-img logo-light"
                      src="/assets/useri/img/logo-light.jpeg"
                    />
                    <img
                      class="logo-img logo-dark"
                      src="/assets/useri/img/logo-dark.jpg"
                    />
                  </a>
                </div>

                <div class="nk-header-tools">
                  <ul class="nk-quick-nav">
                    <li class="dropdown user-dropdown">
                      <a
                        href="#"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                      >
                        <div class="user-toggle">
                          <div class="user-avatar sm">
                            <em class="icon ni ni-user-alt"></em>
                          </div>
                          <div class="user-info d-none d-md-block">
                            <div class="user-status user-status-verified">
                              Verified
                            </div>
                            <div class="user-name dropdown-indicator">
                              {{user.fullname}}
                            </div>
                          </div>
                        </div>
                      </a>
                      <div
                        class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1"
                      >
                        <div
                          class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block"
                        >
                          <div class="user-card">
                            <div class="user-avatar">
                              <span
                                ><div class="user-avatar bg-danger">
                                  <span>{{user.get_icon}}</span>
                                </div></span
                              >
                            </div>
                            <div class="user-info">
                              <span class="lead-text">{{user.fullname}}</span>
                              <span class="sub-text">{{user.email}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown-inner user-account-info">
                          <h6 class="overline-title-alt">Account Balance</h6>
                          <div class="user-balance">
                            {{user.balance}} <small class="currency">USD</small>
                          </div>
                          <div class="user-balance-alt">
                            <!-- 0.00 <span class="currency">GBP</span> -->
                          </div>
                          <ul class="user-account-links">
                            <li>
                              <a href="/deposit-funds/" class="link"
                                ><span>Deposit Funds</span>
                                <em class="icon ni ni-wallet-in"></em
                              ></a>
                            </li>
                            <li>
                              <a href="/withdraw-funds/" class="link"
                                ><span>Withdraw Funds</span>
                                <em class="icon ni ni-wallet-out"></em
                              ></a>
                            </li>
                          </ul>
                        </div>
                        <div class="dropdown-inner">
                          <ul class="link-list">
                            <li>
                              <a href="/settings/profile/"
                                ><em class="icon ni ni-user-alt"></em
                                ><span>View Profile</span></a
                              >
                            </li>
                            <li>
                              <a href="/settings/security/"
                                ><em class="icon ni ni-setting-alt"></em
                                ><span>Security Setting</span></a
                              >
                            </li>
                            <li>
                              <a href="/settings/activity"
                                ><em class="icon ni ni-activity-alt"></em
                                ><span>Login Activity</span></a
                              >
                            </li>
                          </ul>
                        </div>
                        <div class="dropdown-inner">
                          <ul class="link-list">
                            <li>
                              <a href="/sign-out/">
                                <em class="icon ni ni-signout"></em
                                ><spean>Sign out</spean></a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-content nk-content-fluid">
            {% block content %} {% endblock content %}
          </div>

          <div class="nk-footer">
            <div class="container-fluid">
              <div class="nk-footer-wrap">
                <div class="nk-footer-copyright">
                  {{domain_name}} &copy;2022. All Rights Reserved.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block modal %} {% endblock modal %}
    <div class="modal fade" tabindex="-1" role="dialog" id="ajax-modal"></div>
    <script src="/assets/useri/js/bundle.js"></script>
    <script src="/assets/useri/js/app.js"></script>
    <script src="/assets/useri/js/charts.js"></script>
    <script src="/assets/js/toastr.min.js"></script>
    {% if messages %}
    <script src="/assets/js/toastr-init.js"></script>
    {% endif %}
    <script src="/assets/js/circle-progress.min.js"></script>
    <script src="/assets/js/circle-progress-init.js"></script>
    <!-- Sweet Alerts js -->
    <script src="/assets/users/js/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="/assets/users/js/sweet-alerts.init.js"></script>
    {% block script %} {% endblock script %}
    <script type="text/javascript">
      const updateSetting =
          "https://fintcapitallimited.com/user/public/update/setting",
        getTnxDetails = "http://{{domain}}/transactions-log/detail/";
    </script>
  </body>
</html>
