{% extends "layouts/useri.html" %}<!---->
{% block title %} Investmant plans {% endblock title %}<!---->
{% block content %}
<div class="container-xl wide-lg">
  <div class="nk-content-body">
    <div class="nk-block-head text-center">
      <h2 class="nk-block-title fw-normal">Investment Plans</h2>
      <div class="nk-block-des w-max-550px m-auto">
        <p class="lead">
          Here is our several investment plans. You can invest daily, weekly or
          monthly and get higher returns in your investment.
        </p>
        <p>
          <strong>Choose your favourite plan and start earning now.</strong>
        </p>
      </div>
    </div>
    <div class="nk-ivp-apps">
      <div class="nk-ivp-plans row g-gs scheme-container justify-center">
        <div class="col-md-6 col-lg-4">
          <div class="nk-ivp-card card card-bordered card-full">
            <div class="card-inner-group">
              <div class="card-inner">
                <div class="nk-ivp-title card-title">
                  <h4 class="title">GOLD PLAN</h4>
                </div>
                <div class="nk-ivp-summary card-text">
                  <div class="row">
                    <div class="col-6">
                      <span class="lead-text"
                        ><span class="small text-dark">20%</span></span
                      >
                      <span class="sub-text">Daily Interest</span>
                    </div>
                    <div class="col-6">
                      <span class="lead-text"
                        ><span class="small text-dark">1</span></span
                      >
                      <span class="sub-text">Term Days</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-inner">
                <div class="card-text">
                  <ul class="nk-ivp-data">
                    <li>
                      <span class="label">Min Deposit</span> -
                      <span class="data fw-medium text-dark">50.00 USD</span>
                    </li>
                    <li>
                      <span class="label">Max Deposit</span> -
                      <span class="data">599.00 USD</span>
                    </li>

                    <li>
                      <span class="label"
                        >Capital Return
                        <em
                          class="icon ni ni-info text-soft nk-tooltip small"
                          title=""
                          data-original-title="The invested amount will be return at the end of term."
                        ></em
                      ></span>
                      - <span class="data"> End of Term </span>
                    </li>
                    <li>
                      <span class="label">Total Return</span> -
                      <span class="data">120%</span>
                    </li>
                  </ul>
                  <div class="nk-ivp-action">
                    <a
                      class="btn btn-primary"
                      href="https://fintcapitallimited.com/user/public/invest/IV001SGP"
                      ><span>Invest Now</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="nk-ivp-card card card-bordered card-full">
            <div class="card-inner-group">
              <div class="card-inner">
                <div class="nk-ivp-title card-title">
                  <h4 class="title">EMERALD PLAN</h4>
                </div>
                <div class="nk-ivp-summary card-text">
                  <div class="row">
                    <div class="col-6">
                      <span class="lead-text"
                        ><span class="small text-dark">25%</span></span
                      >
                      <span class="sub-text">Daily Interest</span>
                    </div>
                    <div class="col-6">
                      <span class="lead-text"
                        ><span class="small text-dark">1</span></span
                      >
                      <span class="sub-text">Term Days</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-inner">
                <div class="card-text">
                  <ul class="nk-ivp-data">
                    <li>
                      <span class="label">Min Deposit</span> -
                      <span class="data fw-medium text-dark">600.00 USD</span>
                    </li>
                    <li>
                      <span class="label">Max Deposit</span> -
                      <span class="data">1,499.00 USD</span>
                    </li>

                    <li>
                      <span class="label"
                        >Capital Return
                        <em
                          class="icon ni ni-info text-soft nk-tooltip small"
                          title=""
                          data-original-title="The invested amount will be return at the end of term."
                        ></em
                      ></span>
                      - <span class="data"> End of Term </span>
                    </li>
                    <li>
                      <span class="label">Total Return</span> -
                      <span class="data">125%</span>
                    </li>
                  </ul>
                  <div class="nk-ivp-action">
                    <a
                      class="btn btn-primary"
                      href="https://fintcapitallimited.com/user/public/invest/IV002SEP"
                      ><span>Invest Now</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="nk-ivp-card card card-bordered card-full">
            <div class="card-inner-group">
              <div class="card-inner">
                <div class="nk-ivp-title card-title">
                  <h4 class="title">RUBY PLAN</h4>
                </div>
                <div class="nk-ivp-summary card-text">
                  <div class="row">
                    <div class="col-6">
                      <span class="lead-text"
                        ><span class="small text-dark">12.5%</span></span
                      >
                      <span class="sub-text">Daily Interest</span>
                    </div>
                    <div class="col-6">
                      <span class="lead-text"
                        ><span class="small text-dark">2</span></span
                      >
                      <span class="sub-text">Term Days</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-inner">
                <div class="card-text">
                  <ul class="nk-ivp-data">
                    <li>
                      <span class="label">Min Deposit</span> -
                      <span class="data fw-medium text-dark">1,500.00 USD</span>
                    </li>
                    <li>
                      <span class="label">Max Deposit</span> -
                      <span class="data">4,999.00 USD</span>
                    </li>

                    <li>
                      <span class="label"
                        >Capital Return
                        <em
                          class="icon ni ni-info text-soft nk-tooltip small"
                          title=""
                          data-original-title="The invested amount will be return at the end of term."
                        ></em
                      ></span>
                      - <span class="data"> End of Term </span>
                    </li>
                    <li>
                      <span class="label">Total Return</span> -
                      <span class="data">125.0%</span>
                    </li>
                  </ul>
                  <div class="nk-ivp-action">
                    <a
                      class="btn btn-primary"
                      href="https://fintcapitallimited.com/user/public/invest/IV003SRP"
                      ><span>Invest Now</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="nk-ivp-card card card-bordered card-full">
            <div class="card-inner-group">
              <div class="card-inner">
                <div class="nk-ivp-title card-title">
                  <h4 class="title">DIAMOND PLAN</h4>
                </div>
                <div class="nk-ivp-summary card-text">
                  <div class="row">
                    <div class="col-6">
                      <span class="lead-text"
                        ><span class="small text-dark">4.2%</span></span
                      >
                      <span class="sub-text">Daily Interest</span>
                    </div>
                    <div class="col-6">
                      <span class="lead-text"
                        ><span class="small text-dark">7</span></span
                      >
                      <span class="sub-text">Term Days</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-inner">
                <div class="card-text">
                  <ul class="nk-ivp-data">
                    <li>
                      <span class="label">Min Deposit</span> -
                      <span class="data fw-medium text-dark">5,000.00 USD</span>
                    </li>
                    <li>
                      <span class="label">Max Deposit</span> -
                      <span class="data">1,000,000.00 USD</span>
                    </li>

                    <li>
                      <span class="label"
                        >Capital Return
                        <em
                          class="icon ni ni-info text-soft nk-tooltip small"
                          title=""
                          data-original-title="The invested amount will be return at the end of term."
                        ></em
                      ></span>
                      - <span class="data"> End of Term </span>
                    </li>
                    <li>
                      <span class="label">Total Return</span> -
                      <span class="data">129.4%</span>
                    </li>
                  </ul>
                  <div class="nk-ivp-action">
                    <a
                      class="btn btn-primary"
                      href="https://fintcapitallimited.com/user/public/invest/IV004SDP"
                      ><span>Invest Now</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
{% endblock content %}
