{% extends "layouts/useri.html" %}<!---->
{% load humanize %} {% block title %} Investmant plans {% endblock title %}<!---->
{% block content %}
<div class="container-xl wide-lg">
  <div class="nk-content-body">
    <div class="nk-block-head text-center">
      <h2 class="nk-block-title fw-normal">Investment Plans</h2>
      <div class="nk-block-des w-max-550px m-auto">
        <p class="lead">
          Here is our several investment plans. You can invest daily, weekly or
          monthly and get higher returns in your investment.
        </p>
        <p>
          <strong>Choose your favourite plan and start earning now.</strong>
        </p>
      </div>
    </div>
    <div class="nk-ivp-apps">
      <div class="nk-ivp-plans row g-gs scheme-container justify-center">
        {% for obj in packages %}
        <div class="col-md-6 col-lg-4">
          <div class="nk-ivp-card card card-bordered card-full">
            <div class="card-inner-group">
              <div class="card-inner">
                <div class="nk-ivp-title card-title">
                  <h4 class="title">{{obj.name}} PLAN</h4>
                </div>
                <div class="nk-ivp-summary card-text">
                  <div class="row">
                    <div class="col-6">
                      <span class="lead-text"
                        ><span class="small text-dark"
                          >{{obj.getHourlyroi}}%</span
                        ></span
                      >
                      <span class="sub-text">Interest</span>
                    </div>
                    <div class="col-6">
                      <span class="lead-text"
                        ><span class="small text-dark"
                          >{{obj.duration}}</span
                        ></span
                      >
                      <span class="sub-text">Term Hours</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-inner">
                <div class="card-text">
                  <ul class="nk-ivp-data">
                    <li>
                      <span class="label">Min Deposit</span> -
                      <span class="data fw-medium text-dark"
                        >{{obj.min_amount|intcomma}} USD</span
                      >
                    </li>
                    <li>
                      <span class="label">Max Deposit</span> -
                      <span class="data">{{obj.max_amount|intcomma}} USD</span>
                    </li>

                    <li>
                      <span class="label"
                        >Capital Return
                        <em
                          class="icon ni ni-info text-soft nk-tooltip small"
                          title=""
                          data-original-title="The invested amount will be return at the end of term."
                        ></em
                      ></span>
                      - <span class="data"> End of Term </span>
                    </li>
                    <li>
                      <span class="label">Total Return</span> -
                      <span class="data">{{obj.roi}}%</span>
                    </li>
                  </ul>
                  <div class="nk-ivp-action">
                    <a
                      class="btn btn-primary"
                      onclick="setModalDetails('{{obj.id}}','{{obj.min_amount}}','{{obj.max_amount}}','{{obj.name.lower}}','{{obj.duration}}','{{obj.getHourlyroi}}')"
                      ><span>Invest Now</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!--  -->
{% endblock content %} {% block modal %}
<a
  class="btn btn-primary"
  href="javascript:void(0)"
  data-toggle="modal"
  data-target="#invest-modal"
  style="display: none"
  id="openInvestdetails"
  ><span>Invest Now</span></a
>
<div class="modal fade" tabindex="-1" role="dialog" id="invest-modal">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <a href="#" class="close" data-dismiss="modal"
        ><em class="icon ni ni-cross-sm"></em
      ></a>
      <div class="modal-body modal-body-md">
        <h5 class="title">Invest in <span id="inName"></span> Plan</h5>
        <form
          action=""
          method="POST"
          class="is-alter mt-4 form-athentic"
          id="investForm"
        >
          {% csrf_token %}
          <input type="hidden" name="plan_id" id="plan_id" />

          <div class="form-group">
            <h6
              class="text-center investAmountRange"
              id="investAmountRange"
            ></h6>
            <p
              class="text-center mt-1 interestDetails"
              id="interestDetails"
            ></p>
            <p class="text-center interestValidity" id="interestValidity"></p>
          </div>
          <div class="form-group">
            <label>Invest Amount</label>
            <div class="input-group">
              <input
                id="inputamount"
                type="number"
                step="any"
                class="form-control"
                name="amount"
                required=""
              />
              <div class="input-group-text bg--base">USD</div>
            </div>
          </div>

          <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
            <li>
              <button type="submit" class="btn btn-primary">Invest</button>
            </li>
            <li>
              <a
                href="javascript:void(0)"
                data-dismiss="modal"
                class="link link-light"
                >Cancel</a
              >
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal %} {% block script %}

<script>
  document
    .getElementById("investForm")
    .addEventListener("submit", async (e) => {
      e.preventDefault();
      let planId = document.getElementById("plan_id"),
        amount = document.getElementById("inputamount");

      const formData = new FormData(e.target);
      const data = Object.fromEntries(formData.entries());
      console.log(data);

      try {
        const response = await fetch("/create-investments/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "CSRF-Token": data.csrfmiddlewaretoken,
          },
          body: JSON.stringify(data),
        });

        if (!response.ok) {
          throw new Error("Network response was not ok" + response.statusText);
        }

        const result = await response.json();
        console.log("Success:", result);
        // Handle success
        if (result.error) {
          Swal.fire({
            title: "Error!",
            text: `${result.error}`,
            icon: "error",
          });
        } else {
          Swal.fire({
            title: "Success!",
            text: `${result.msg}`,
            icon: "success",
          });
          setTimeout(() => {
            window.location.href = "/investments/";
          }, 2000);
        }
      } catch (error) {
        console.error("Error:", error);
        // Handle error
      }
    });

  function setModalDetails(
    plan_id,
    min_amount,
    max_amount,
    name,
    duration,
    roi
  ) {
    let planName = document.getElementById("inName"),
      investAmountRange = document.getElementById("investAmountRange"),
      interestDetails = document.getElementById("interestDetails"),
      interestValidity = document.getElementById("interestValidity"),
      amount = document.getElementById("inputamount");
    document.getElementById("plan_id").value = plan_id;
    planName.innerHTML = name;
    investAmountRange.innerHTML = ` Invest: $${parseInt(
      min_amount
    ).toLocaleString()} - $${parseInt(max_amount).toLocaleString()}`;
    interestDetails.innerHTML = ` <strong> Interest: ${roi}% </strong>`;
    interestValidity.innerHTML = ` <strong> Hourly , for ${duration} hours</strong>`;

    document.getElementById("openInvestdetails").click();
  }
</script>

{% endblock script %}
